:host {
  display: flex;
  gap: 2rem;
}

.products-wrapper {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 1rem;
  width: 100%;
}

filter {
  flex-shrink: 0;
}

.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
  h1 {
    margin: 0;
  }
}
