:host {
  display: flex;
  gap: 0.5rem;
}

div {
  background-color: var(--primary-100);
  padding: 0.5rem 1rem;
  box-sizing: border-box;
  border-radius: 50vmax;
  cursor: pointer;
  user-select: none;
  &:hover {
    filter: brightness(1.2);
  }
}

.selected {
  background-color: var(--primary-300);
}
