:host {
  display: grid;
  place-items: center;
  height: 100%;
}

form {
  display: flex;
  flex-direction: column;
}

.register {
  margin-top: 1rem;
  color: var(--text-950);
  text-decoration: none;
  transition: 0.1s;
  cursor: pointer;
  &:hover {
    color: var(--text-600);
    text-decoration: underline;
  }
}
