<nav>
  <li
    class="item"
    routerLink="/home/my-activity/meal"
    routerLinkActive="item--activated"
  >
    <mat-icon>restaurant</mat-icon>
    <span>Meals</span>
  </li>
  <li
    class="item"
    routerLink="/home/my-activity/water"
    routerLinkActive="item--activated"
  >
    <mat-icon>water_drop</mat-icon>
    <span>Water</span>
  </li>
  <li
    class="item"
    routerLink="/home/my-activity/sport-activity"
    routerLinkActive="item--activated"
  >
    <mat-icon>sports_soccer</mat-icon>
    <span>Sport Activity</span>
  </li>
  <li
    class="item"
    routerLink="/home/my-activity/rewards"
    routerLinkActive="item--activated"
  >
    <mat-icon>emoji_events</mat-icon>
    <span>Rewards</span>
  </li>
</nav>
