div {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
  &:hover p {
    text-decoration: underline;
  }
}

img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  object-fit: cover;
  overflow: hidden;
}

p {
  margin: 0;
}
